@import 'core/Reset.scss';
@import 'core/Mixins.scss';

.main {
  background-color: #f1ddd7;
}
.section-principal {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
  @media (min-width: 768px) {
    flex-direction: row;
  }

  &__img {
    height: 60%;
    background-image: url('../images/prueba-pareja.jpg');
    background-position-x: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    
    @media (min-width: 768px) {
      width: 100%;
      height: 100%;
      clip-path: polygon(0 0, 90% 0, 75% 100%, 0 100%);
    }

    @media (min-width: 1024px) {
      height: 100%;
      width: 50%;
    }
  }

  &__couple {
    font-family: 'Great Vibes', cursive;
    font-size: 4.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
   transform: translateY(0);    transition: transform 0.5s ease;
    @media (min-width: 768px) {
      font-size: 5.5rem;
      //padding-top: 7rem;
      //padding-left: 3rem;
    }
    @media (min-width: 1024px) {
      width: 50%;
    }
    
    &--name{
      
      @media (min-width: 768px) {
        font-size: 5rem;
      }
    }
  }
  &__date {
    //width: 50%;
    font-size: 3rem;
    text-align: center;
    padding-top: 3rem;
    @media (min-width: 768px) {
      font-size: 4rem;
    }
  }
}

.celebration{
  &__img{
    width: 40rem;
  }
}